@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-button {
  height: 0px; }

::-webkit-scrollbar-thumb {
  background-color: yellow; }

::-webkit-scrollbar-track-piece {
  background-color: #fff; }

a {
  text-decoration: none;
  color: #000; }

str {
  color: red; }

.header {
  height: 80px;
  width: 100%;
  position: fixed;
  background: #fff;
  z-index: 50;
  -webkit-box-shadow: 0 0 20px rgba(51, 51, 51, 0.3);
  box-shadow: 0 0 20px rgba(51, 51, 51, 0.3); }
  .header .container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header .container .logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .header .container .logo span {
        font-size: 18px; }
      .header .container .logo .ya {
        font-size: 30px; }
        .header .container .logo .ya str {
          color: red; }
    .header .container .phone {
      font-size: 20px;
      font-weight: 600; }
    .header .container .rewiew {
      font-size: 20px; }
    .header .container .btn {
      font-size: 20px;
      border-radius: 50px;
      background: yellow;
      padding: 15px 25px; }

.section {
  width: 100%;
  min-height: 100vh;
  background: rgba(224, 224, 224, 0.3);
  padding-top: 100px; }
  .section .container {
    width: 100%;
    max-width: 1200px;
    height: 70vh;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .section .container .left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .section .container .left .ya {
        font-size: 50px;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: 3px;
        margin-bottom: 50px; }
      .section .container .left .text {
        margin-bottom: 50px;
        font-size: 20px; }
    .section .container .right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .section .container .right .btn {
        margin-top: 40px;
        font-size: 18px;
        background: yellow;
        padding: 15px 25px;
        border-radius: 50px; }
      .section .container .right span {
        font-size: 22px;
        font-weight: 600; }

.section2 {
  width: 100%;
  min-height: 70vh;
  background: rgba(224, 224, 224, 0.3); }
  .section2 .container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .section2 .container h1 {
      font-size: 42px;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 150px; }
    .section2 .container .boxs__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      overflow: hidden; }
      .section2 .container .boxs__item .box {
        width: 33.33333%;
        height: 350px;
        margin: 0 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        position: relative; }
        .section2 .container .boxs__item .box::before {
          content: "";
          position: absolute;
          left: -35%;
          top: 15%;
          width: 140px;
          height: 2px;
          background: #000; }
        .section2 .container .boxs__item .box img {
          margin-bottom: 30px; }
        .section2 .container .boxs__item .box span {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 20px; }
        .section2 .container .boxs__item .box p {
          font-weight: 600;
          opacity: 0.5;
          line-height: 1.4;
          letter-spacing: 2px; }
      .section2 .container .boxs__item .box:last-child {
        position: relative; }
        .section2 .container .boxs__item .box:last-child::after {
          content: "";
          position: absolute;
          left: 80%;
          top: 15%;
          width: 140px;
          height: 2px;
          background: #000; }

.section3 {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(224, 224, 224, 0.7);
  box-shadow: 0 0 10px rgba(224, 224, 224, 0.7);
  padding: 100px; }
  .section3 .container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .section3 .container .left {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .section3 .container .left span {
        font-size: 44px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 40px; }
    .section3 .container .right {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      font-size: 18px;
      text-align: center;
      padding-top: 100px; }
      .section3 .container .right span {
        opacity: 0.5;
        font-weight: 600; }
      .section3 .container .right form {
        width: 500px;
        display: inline-block;
        vertical-align: top;
        background-clip: padding-box; }
      .section3 .container .right .formItem {
        position: relative;
        width: 100%;
        border-bottom: 1px solid rgba(126, 126, 126, 0.5);
        font-size: 18px;
        position: relative;
        margin: 30px 0; }
      .section3 .container .right .formItem input,
      .section3 .container .right textarea {
        background: transparent;
        border: none;
        width: 100%;
        padding: 10px 20px;
        color: black;
        font-size: 18px;
        font-weight: 300;
        position: relative;
        outline: none;
        -webkit-transition: 0.4s linear;
        -o-transition: 0.4s linear;
        transition: 0.4s linear;
        resize: none; }
      .section3 .container .right .formItem input:focus {
        border-bottom: 2px solid black; }
      .section3 .container .right .formItem input:focus ~ label {
        opacity: 0;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0); }
      .section3 .container .right .formItem textarea:focus ~ label {
        opacity: 0;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0); }
      .section3 .container .right .formItem label {
        pointer-events: none;
        color: #c9c8c8;
        position: absolute;
        top: 11px;
        left: 40px;
        z-index: 5;
        opacity: 1;
        font-size: 19px;
        font-weight: 300;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        -webkit-transform: translateX(-19px);
        -ms-transform: translateX(-19px);
        transform: translateX(-19px); }
      .section3 .container .right .btn {
        background: none;
        padding: 10px 20px;
        color: black;
        font-size: 20px;
        font-weight: 400;
        font-family: "Oswald", sans-serif;
        border: none;
        border-bottom: 1px solid #999999;
        -webkit-transition: 0.4s linear;
        -o-transition: 0.4s linear;
        transition: 0.4s linear;
        margin-bottom: 40px; }
      .section3 .container .right .btn:hover {
        border-bottom: 1px solid black; }

.section4 {
  width: 100%;
  min-height: 70vh;
  background: #fff; }
  .section4 .container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .section4 .container .boxs__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      overflow: hidden; }
      .section4 .container .boxs__item .box {
        width: 33.33333%;
        height: 350px;
        margin: 0 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        position: relative; }
        .section4 .container .boxs__item .box span {
          font-size: 50px;
          font-weight: 600;
          margin-bottom: 20px; }
        .section4 .container .boxs__item .box hr {
          width: 100%;
          height: 2px;
          background: rgba(0, 0, 0, 0.5);
          margin-bottom: 40px; }
        .section4 .container .boxs__item .box p {
          opacity: 0.5;
          font-weight: 600;
          font-size: 18px;
          line-height: 1.5;
          letter-spacing: 2px; }

.section5 {
  width: 100%;
  min-height: 70vh;
  background: #fff; }
  .section5 .container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .section5 .container h1 {
      font-size: 52px;
      margin: 50px 0; }
    .section5 .container .boxs__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      overflow: hidden; }
      .section5 .container .boxs__item .box {
        width: 33.33333%;
        height: 350px;
        margin: 0 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        position: relative; }
        .section5 .container .boxs__item .box span {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 20px; }
        .section5 .container .boxs__item .box hr {
          width: 100%;
          height: 2px;
          background: rgba(0, 0, 0, 0.5);
          margin-bottom: 40px; }
        .section5 .container .boxs__item .box p {
          font-weight: 600;
          opacity: 0.7;
          font-weight: 300;
          font-size: 18px;
          line-height: 1.5;
          letter-spacing: 2px; }

.answers {
  width: 100%;
  position: relative;
  min-height: 100vh; }

.answers_col {
  width: 50%;
  margin: auto;
  padding-left: 160px;
  padding-top: -50px;
  margin-bottom: 200px; }

.answers h1 {
  font-size: 56px;
  font-weight: 300;
  margin: 5% 30%;
  margin-top: -50px; }

/* скрываем чекбоксы и блоки с содержанием */
.hide {
  display: none; }

.hide + label ~ div {
  display: none;
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear; }

/* оформляем текст label */
.hide + label {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 22px;
  color: #444;
  padding: 0;
  padding-bottom: 20px;
  color: #0c0c0c;
  display: inline-block;
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  position: relative; }

.hide + label:before {
  content: "";
  width: 35px;
  height: 35px;
  background: #fff;
  -webkit-box-shadow: 0 10px 10px #b1b1b1;
  box-shadow: 0 10px 10px #b1b1b1;
  position: absolute;
  left: -60px;
  top: 0;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear; }

:checked + label:before {
  -webkit-box-shadow: inset 0 0 15px #dbdbdb;
  box-shadow: inset 0 0 15px #dbdbdb; }

.hide + label:hover:before {
  -webkit-box-shadow: 0 0 5px #dbdbdb;
  box-shadow: 0 0 5px #dbdbdb;
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear; }

/* вид текста label при активном переключателе */
.hide:checked + label {
  text-shadow: 0 0 20px #585757;
  border-bottom: 0; }

/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
  display: block;
  background: none;
  line-height: 1.7;
  font-size: 16px;
  font-weight: 400;
  color: #555;
  padding: 10px;
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-animation: fade ease-in 0.5s;
  -moz-animation: fade ease-in 0.5s;
  animation: fade ease-in 0.5s; }

@-webkit-keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

/* demo контейнер */
@media (max-width: 1080px) {
  .header {
    overflow-x: hidden;
    height: 70px; }
    .header .container {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .header .container .logo {
        display: none; }
      .header .container .rewiew {
        margin: 5px 0;
        font-size: 16px; }
      .header .container .btn {
        font-size: 16px;
        padding: 10px 20px;
        margin-left: 10px; }
  .section .container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 100px;
    height: 100vh; }
    .section .container .left {
      text-align: center;
      width: 100%; }
      .section .container .left .ya {
        font-size: 32px; }
      .section .container .left img {
        width: 100%; }
    .section .container .right {
      text-align: center; }
      .section .container .right img {
        width: 100%; }
  .section2 {
    margin-top: 150px;
    min-height: 100vh;
    overflow-x: hidden; }
    .section2 .container h1 {
      text-align: center;
      font-size: 32px; }
    .section2 .container .boxs__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .section2 .container .boxs__item .box {
        width: 95%; }
        .section2 .container .boxs__item .box:before {
          left: -15%; }
  .section3 {
    padding: 0;
    overflow-x: hidden; }
    .section3 .container {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .section3 .container .left {
        width: 95%; }
      .section3 .container .right {
        width: 95%; }
        .section3 .container .right form {
          width: 95%; }
  .section4 {
    margin-top: 50px;
    min-height: 100vh;
    overflow-x: hidden; }
    .section4 .container .boxs__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .section4 .container .boxs__item .box {
        width: 95%; }
  .section5 {
    min-height: 100vh;
    overflow-x: hidden; }
    .section5 .container h1 {
      font-size: 32px;
      text-align: center; }
    .section5 .container .boxs__item .box {
      width: 95%;
      height: 250px; }
  .answers {
    width: 95%;
    margin-top: 50px;
    overflow-x: hidden; }
  .answers_col {
    width: 80%;
    padding: 0;
    margin-left: 70px;
    text-align: center; }
  .answers h1 {
    margin: 0;
    text-align: center;
    font-size: 32px;
    margin-bottom: 50px; } }

@media (max-width: 480px) {
  .header {
    overflow-x: hidden;
    height: 70px; }
    .header .container {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .header .container .logo {
        display: none; }
      .header .container .rewiew {
        margin: 5px 0;
        font-size: 16px; }
      .header .container .btn {
        font-size: 16px;
        padding: 10px 20px;
        margin-left: 10px; }
  .section .container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 100px;
    height: 100vh; }
    .section .container .left {
      text-align: center;
      width: 100%; }
      .section .container .left .ya {
        font-size: 32px; }
      .section .container .left img {
        width: 100%; }
    .section .container .right {
      text-align: center; }
      .section .container .right img {
        width: 100%; }
  .section2 {
    margin-top: 150px;
    min-height: 100vh;
    overflow-x: hidden; }
    .section2 .container h1 {
      text-align: center;
      font-size: 32px; }
    .section2 .container .boxs__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .section2 .container .boxs__item .box {
        width: 95%; }
        .section2 .container .boxs__item .box:before {
          left: -15%; }
  .section3 {
    padding: 0;
    overflow-x: hidden; }
    .section3 .container {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .section3 .container .left {
        width: 95%; }
      .section3 .container .right {
        width: 95%; }
        .section3 .container .right form {
          width: 95%; }
  .section4 {
    margin-top: 50px;
    min-height: 100vh;
    overflow-x: hidden; }
    .section4 .container .boxs__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .section4 .container .boxs__item .box {
        width: 95%; }
  .section5 {
    min-height: 100vh;
    overflow-x: hidden; }
    .section5 .container h1 {
      font-size: 32px;
      text-align: center; }
    .section5 .container .boxs__item .box {
      width: 95%;
      height: 250px; }
  .answers {
    width: 95%;
    margin-top: 50px;
    overflow-x: hidden; }
  .answers_col {
    width: 80%;
    padding: 0;
    margin-left: 70px;
    text-align: center; }
  .answers h1 {
    margin: 0;
    text-align: center;
    font-size: 32px;
    margin-bottom: 50px; } }
